# For info about this file and its syntax:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @cliffcolvin @kubecost-all-team
